.hero h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin: 50ox 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;

}
.hero {
    background-color: beige;
    text-align: center;
    align-items: center;
}
.about h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}
.about{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    margin: 40ox auto;
    margin-left: 20px;
    margin-right: 20ox;
    padding: 20ox;
    line-height: 1.2;
    max-width: 800px;
}
.about p{
    font-size: 18px;
    color: #444;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20ox;
}
.gallery img{
    border-radius: 8px;
    box-shadow: 0 4px 8px #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px #000;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}
.social-links a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #444;
    padding: 10px 20px;
    border: 2px solid#444;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.social-links a:hover{
    background-color: #444;
    color: #fff;
    transform: scaleX(1.05);
}