.hero h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin: 50ox 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;

}
.hero {
    background-color: beige;
    text-align: center;
    align-items: center;
}
.about h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}
.about{
    text
}